<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">StackOverFlow Clone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if is_logged? %>
          <a class="nav-link" href="<%= new_user_question_path(current_user) %>">Post Question</a>
        <% else %>
          <a class="nav-link" href="<%= login_path %>">Post Question</a>
        <% end %>
      </li>
    </ul>
    <% if !is_logged? %>
      <a href="<%= login_path %>" class="btn btn-outline-success my-2 my-sm-0">Log In</a>
    <% else %>
      <a href="<%= user_path(current_user) %>" class="btn btn-success mr-3">Dashboard</a>
      <a href="<%= logout_path %>" class="btn btn-outline-success my-2 my-sm-0">Log Out</a>
    <% end %>
  </div>
</nav>
